*{
    margin: 0;
    padding: 0;
}
/*  下面三个都是CSS Reset（重置样式） 代码，用于清除浏览器默认样式，让网页在不同浏览器中显示一致 */
ul ,ol, li{
    list-style: none;
}
a, a:active, a:hover, a:link{
    text-decoration: none;
    color: #333;
}
input, button, select, textarea{
    outline: none;
}


img{
    width: 100%;
    height: 100%;
    display: block;
}

/* 头部内容样式 */
.header{
    width: 1200px;
    height: 60px;
    background-color: skyblue;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    font-weight: 700;
}
.header > p{
    position: absolute;
    /* top: 50%;
    transform: translateY(-50%); 为什么要写这两句代码，明明在header写了align-items就已经可以让p标签处于y轴中间了*/
    right: 30px;
    display: none;
    font-size: 20px;
}
.header > p.active{
    display: block;
}

